.about-image {
  width: 100%;
}
.about-container {
  background-color: #faebd7;
  height: 70vh;
  display: flex;
  flex-direction: row;
  margin-top: -2rem;

  .title-text {
    width: 50%;
    text-align: right;
    margin-right: 2rem;
    padding-top: 8rem;
    .title {
      font-size: 3rem;
    }
  }
  .about-text {
    width: 50%;
    margin-left: 2rem;
    padding-top: 6rem;
    .text {
      margin-right: 6rem;
    }
  }
}
